[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-intl = "*"
urllib3 = "*"
sphinx = "==1.7.1"
sphinx-rtd-theme = "==0.2.4"
sphinxcontrib-websupport = "==1.0.1"
twisted = "*"

[requires]
python_version = "3.7"
